.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

.collapseBtn {
  position: absolute;
  right: -32px;
  bottom: 32px;
}

.links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
  }

  .links {
    align-items: center;
  }
}
