.profileCard {
  border: 1px solid var(--inverted-bg-color);
  padding: 20px;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  width: 100%;
}
